# generic web services
define hostgroup {
	hostgroup_name postgres
        alias postgres
}

{% for host in groups['postgres'] %}
define host {
	use                    generic-host 
	host_name               {{ host }}
	alias                   {{ host }}
	address                 {{ ansible_host }}
	hostgroups 		        postgres
}
{% endfor %}

# service checks to be applied to the web server
define service {
    use                         generic-service
    hostgroup_name              postgres
    service_description         PING
    check_command               check_ping!200.0,20%!600.0,60%
    notifications_enabled       1
}
define service{
    use                     generic-service
    hostgroup_name          postgres
    service_description     CPU Load
    check_command           check_nrpe!check_cpu
    notifications_enabled   1
}

define service{
    use                     generic-service
    hostgroup_name          postgres
    service_description     Total Processes
    check_command           check_nrpe!check_total_procs
    notifications_enabled   1
}

define service{
    use                     generic-service
    hostgroup_name          postgres
    service_description     Zombie Processes
    check_command           check_nrpe!check_zombie_procs
    notifications_enabled   1
}

define service{
    use                     generic-service
    hostgroup_name          postgres
    service_description     Current Users
    check_command           check_nrpe!check_users
    notifications_enabled   1
}

define service{
    use                     generic-service
    hostgroup_name          postgres
    service_description     memory check
    check_command           check_nrpe!check_mem
    notifications_enabled   1
}

define service{
    use                     generic-service
    hostgroup_name          postgres
    service_description     Uptime
    check_command           check_nrpe!check_uptime
    notifications_enabled   1
}

define service{
    use                     generic-service
    hostgroup_name          postgres
    service_description     check_disk
    check_command           check_nrpe!check_disk
    notifications_enabled   1
}

define service{
    use                     generic-service
    hostgroup_name          postgres
    service_description     check mysql
    check_command           check_nrpe!check_mysql
    notifications_enabled   1
}



